<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <br>
  BAHAN POKOK
  <table>
    <% for (let i in items){ %>
      <tr>
        <td>Item_Code: <%= items[i].item_code %></td>
        <td>Name: <%= items[i].name %></td>
        <td>Description: <%= items[i].description %></td>
        <td>Price: <%= items[i].price %></td>
        <td>Stock: <%= items[i].stock %></td>
        <td><form action="api/items/delete/<%= items[i]._id %>" method="POST"><input type="submit" value="delete"></form></td>
        <td><form action="/items/edit/<%= items[i]._id %>" method="POST"><input type="submit" value="edit"></form></td>
      </tr>
    <% } %>
  </table>
</body>
</html>
